{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
            <form action="{% url 'edit-enquiry' enq.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                   <div class="col-12">
                      <h5 class="form-title"><span>Edit Enquiry</span></h5>
                   </div>
                        {% include 'includes/messages.html' %}
                   
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Name</label>
                         <input type="text" class="form-control" name="name" value="{{enq.name}}">
                      </div>
                   </div>
                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Phone</label>
                       <input type="text" class="form-control" name="phone" value="{{enq.phone}}">
                    </div>
                 </div>
                 <div class="col-12 col-sm-6">
                   <div class="form-group">
                         <label>Course</label>
                         <select class="form-control" name="course_id">
                            {% if enq.course %}
                                {% for course in courses %}
                                    {% if course.id == enq.course %}
                                        <option value="{{ course.id }}" selected>{{ course.name }}</option>
                                    {% endif %}
                                {% endfor %}
                                {% for course in courses %}
                                    {% if course.id != enq.course %}
                                        <option value="{{ course.id }}">{{ course.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <option>Select Course</option>
                                {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                      </div>
                    </div>
                    <button src="#" class="btn btn-primary">Send Message</button>
                   </div>                   
                 </div>
                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Remarks</label>
                       <textarea class="form-control" name="remarks" placeholder="{{enq.remarks}}">{{enq.remarks}}</textarea>
                    </div>
                 </div>
                 
                   <div class="col-12">
                      <button type="submit" class="btn btn-primary">Update Enquiry</button>
                   </div>
             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}