{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Students</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Students</li>
             </ul>
          </div>
          <div class="col-auto text-right float-right ml-auto">
            <a href="#" id="downloadBtn" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             <a href="{% url 'student_admission' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div>
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table class="table table-hover table-center mb-0 datatable" id="table_id">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Course</th>
                            <th>Branch</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Gaurdian Name</th>
                            <th>Phone</th>
                            <th>Date of Birth</th>
                            <th>Age</th>
                            <th>Fee</th>

                            <th>Course Completed</th>
                            <th>Certificate Issued</th>
                            <th>Date Of Examination</th>
      
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for i in student %}
                         <tr>
                            <td>{{i.id}}</td>
                            <td>
                               <h2 class="table-avatar">
                                 {% if i.profile_pic %}
                                  <a href="student-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{i.profile_pic.url}}"></a>
                                 {% endif %}
                                  <a href="student-details.html">{{i.name}}</a>
                               </h2>
                            </td>
                            <td>{{i.email}}</td>
                            <td>{{i.course_id.name}}</td>
                            <td>{{i.branch_id.branch_name}}</td>
                            <td>{{i.gender}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.gaurd_name}}</td>
                            <td>{{i.phone}}</td>
                            <td>{{i.dob}}</td>
                            <td>{{i.age}}</td>
                            <td>{{i.final_fee}}</td>

                            <td>{% if i.course_completed %}Yes{% else %}No{% endif %}</td>
                            <td>{% if i.certificate_issued %}Yes{% else %}No{% endif %}</td>
                            <td>{% if i.examination_date %}{{i.examination_date}}{% else %}Not Updated{% endif %}</td>

                            <td>{{i.created_at}}</td>
                            <td>{{i.updated_at}}</td>
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'edit_student' i.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  
                                  <a href="{% url 'delete_student' i.id %}" class="btn btn-sm bg-danger-light" onclick="return confirm('Are you sure you want to delete this item?');">
                                  <i class="fas fa-trash"></i>
                                  </a>
                                  <a href="{% url 'fee_payment' i.id %}" class="btn btn-sm bg-success-light">
                                    <i>Pay</i>
                                    </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

 <script>
   document.addEventListener("DOMContentLoaded", function() {
       // Add event listener to the download button
       document.getElementById('downloadBtn').addEventListener('click', function(event) {
           event.preventDefault(); // Prevent default behavior

           // Select the table
           var table = document.getElementById('table_id');

           // Convert table to Excel sheet
           var workbook = XLSX.utils.table_to_book(table);

           // Generate Excel file
           var excelFile = XLSX.write(workbook, { bookType: 'xlsx', type: 'binary' });

           // Convert binary string to Blob
           var blob = new Blob([s2ab(excelFile)], { type: "application/octet-stream" });

           // Trigger download
           saveAs(blob, 'students.xlsx');
       });

       // Utility function to convert string to array buffer
       function s2ab(s) {
           var buf = new ArrayBuffer(s.length);
           var view = new Uint8Array(buf);
           for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
           return buf;
       }
   });
</script>

{% endblock %}