{% extends 'base.html' %}

{% block content %}


<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form action="{% url 'home_titles' %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
                  <div class="col-12">
                     <h5 class="form-title"><span>Home Page</span></h5>
                  </div>
                       {% include 'includes/messages.html' %}    
                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>Qoute first line</label>
                        <input type="text" class="form-control" name="qoute1">
                     </div>
                  </div>
                  <div class="col-sm-11">
                    <div class="form-group">
                       <label>2nd Line</label>
                       <input type="text" class="form-control" name="qoute2">
                    </div>
                 </div>
                 <div class="col-sm-11">
                  <div class="form-group">
                     <label>by</label>
                     <textarea class="form-control" name="by"></textarea>
                  </div>
               </div>
               <div class="col-12">
                  <button type="submit" class="btn btn-primary" name="add_qoute">Add Qoute</button>
               </div>
            </form>

            <form action="{% url 'home_titles' %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="col-sm-11 mt-5" style="background: lightblue;height:150px;">
                   <div class="form-group">
                       <label><b>About</b></label>
                       <textarea class="form-control" name="about">{{ about.about }}</textarea>
                   </div>
                   <button type="submit" class="btn btn-info" name="about_submit">Update</button>
               </div>
           </form>
           
           <form action="{% url 'home_titles' %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="col-sm-11 mt-5" style="background: lightblue;height:150px;">
                   <div class="form-group">
                       <label><b>Mission</b></label>
                       <textarea class="form-control" name="mission">{{ about.mission }}</textarea>
                   </div>
                   <button type="submit" class="btn btn-info" name="mission_submit">Update</button>
               </div>
           </form>
           
           <form action="{% url 'home_titles' %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="col-sm-11 mt-5" style="background: lightblue;height:150px;">
                   <div class="form-group">
                       <label><b>Vision</b></label>
                       <textarea class="form-control" name="vision">{{ about.vision }}</textarea>
                   </div>
                   <button type="submit" class="btn btn-info" name="vision_submit">Update</button>
               </div> 
           </form>
         </div>
      </div>
   </div>
</div>

{% comment %} list {% endcomment %}

<div class="row">
   <div class="col-sm-12">
      <div class="card card-table">
         <div class="card-body">
            <div class="table-responsive">
               <table class="table table-hover table-center mb-0 datatable" id="table_id">
                  <thead>
                     <tr>
                        <th>ID</th>
                        <th>Qoute</th>
                        <th>By</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                   {% if home_dtl %}
                    {% for i in home_dtl %}
                     <tr>
                        <td>SB{{i.id}}</td>
                        <td>{{i.qoute1}},{{i.qoute2}}</td>
                        <td>{{i.by}}</td>
                        <td>
                           <div class="actions">
                             {% if user.is_superuser %}
                           <a href="{% url 'delete_home_qoute' i.id %}" class="btn btn-sm bg-danger-light" onclick="return confirm('Are you sure you want to delete this item?');">
                           <i class="fas fa-trash"></i>
                           </a>
                           {% endif %}
                        </div>
                       </td>
                     </tr>
                     {% endfor %}
                     {% endif %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
</div>


{% endblock %}