{% load static %}
{% load active_link_tags %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
          <ul>
             <li class="menu-title">
                <span>Main Menu</span>
             </li>
             <li class="{% active_link 'admin_home' 'active' %}">
                <a href="{% url 'admin_home' %}"><i class="fas fa-holly-berry"></i> <span> Dashboard</span> </a>
             </li>
             
             <li class="submenu {% active_link 'view_student' 'active' %} {% active_link 'add_student' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'student_admission' %}">Student Admission</a></li>
                   <li><a href="{% url 'view_student' %}">Students List</a></li>
                   <li><a href="{% url 'payed_list' %}">Payed Students List</a></li>
                </ul>
             </li>

             {% if user.is_staff and not user.is_superuser %}
             <li class="submenu {% active_link 'enquiry' 'active' %}">
               <a href="#"><i class="fas fa-info-circle"></i> <span>Enquiry</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'enquiry' %}">Enquiry List and Add</a></li>
               </ul>
            </li>
            {% endif %}

             {% if user.is_superuser %}
             <li class="submenu {% active_link 'view_staff' 'active' %} {% active_link 'add_staff' 'active' %}">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'view_staff' %}">View Staff</a></li>
                  <li><a href="{% url 'add_staff' %}">Add staff</a></li>
               </ul>
            </li>
             <li class="submenu {% active_link 'add_branch' 'active' %}">
                <a href="#"><i class="fas fa-building"></i> <span> Branch </span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'add_branch' %}">Branch list and edit</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'scheme' 'active' %}">
               <a href="#"><i class="fas fa-envelope"></i> <span> Schemes </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'scheme' %}">Add and list scheme</a></li>
               </ul>
            </li>
             <li class="submenu {% active_link 'view_course' 'active' %} {% active_link 'add_course' 'active' %}">
                <a href=""><i class="fa fa-graduation-cap"></i> <span>Courses</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'view_course' %}">Course List</a></li>
                   <li><a href="{% url 'add_course' %}">Add Course</a></li>
                </ul>
               </li>
               <li class="submenu {% active_link 'view_department' 'active' %} {% active_link 'add_department' 'active' %}">
                  <a href=""><i class="fa fa-user"></i> <span>Department</span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li><a href="{% url 'view_department' %}">Department List</a></li>
                     <li><a href="{% url 'add_department' %}">Add Department</a></li>
                  </ul>
                 </li>
                 {% endif %}
                 
               <li class="submenu {% active_link 'view_contacts' 'active' %}">
                  <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Contact </span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li><a href="{% url 'view_contacts' %}">Contacted Users</a></li>
                  </ul>
               </li>
               
               {% if user.is_superuser %}
               <li class="submenu {% active_link 'test' 'active' %}">
                  <a href="#"><i class="fas fa-home"></i> <span>Home Page </span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li><a href="{% url 'test' %}">Testimonal</a></li>
                     <li><a href="{% url 'add_bg_image' %}">Backgroud Image</a></li>
                     <li><a href="{% url 'home_titles' %}">Home Titles</a></li>
                     <li><a href="{% url 'logo_index' %}">Affiliated Logos</a></li>
                  </ul>
               </li>
               {% endif %}
       </div>
    </div>
 </div>
