<!DOCTYPE html>
<html lang="en">
   {% load static %}
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>Skill Board Education</title>
      <link rel="shortcut icon" href="{% static 'assets_admin/img/favicon.png' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
      <link rel="stylesheet" href="{% static 'assets_admin/plugins/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets_admin/plugins/fontawesome/css/fontawesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets_admin/plugins/fontawesome/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets_admin/css/style.css' %}">
      

      <!--  datatable -->
      <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="https://kit.fontawesome.com/e81d17d39f.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'assets_admin/plugins/datatables/datatables.min.css' %}">

   </head>

   <body> 
    <div class="main-wrapper">
        
      {% include 'includes/header.html' %}

      {% include 'includes/sidebar.html' %}

      <div class="page-wrapper">
         <div class="content container-fluid">

        {% block content %}
        {% endblock %}
        {% include 'includes/footer.html' %}

      </div>
   </div>
    <script src="{% static 'assets_admin/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets_admin/js/popper.min.js' %}"></script>
      <script src="{% static 'assets_admin/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets_admin/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'assets_admin/plugins/apexchart/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets_admin/plugins/apexchart/chart-data.js' %}"></script>
      <script src="{% static 'assets_admin/js/script.js' %}"></script>
      <script src="{% static 'assets_admin/plugins/datatables/datatables.min.js'%}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>

      <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').dataTable();
    });
</script>
   </body>
   
</html>