<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SB education</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Updated: Mar 19 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
     
        <img src="{% static 'assets/img/LOGO-head.png' %}" alt="" >
        <img src="{% static 'assets/img/LOGO-foot.png' %}" alt="" >
  
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'course' %}">Courses</a></li>
          {% comment %} <li><a href="trainers.html">Trainers</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li class="dropdown has-dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown has-dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li class="megamenu has-dropdown"><a href="#"><span>Mega Menu</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <a href="#">Column 1 link 1</a>
                <a href="#">Column 1 link 2</a>
                <a href="#">Column 1 link 3</a>
              </li>
              <li>
                <a href="#">Column 2 link 1</a>
                <a href="#">Column 2 link 2</a>
                <a href="#">Column 3 link 3</a>
              </li>
              <li>
                <a href="#">Column 3 link 1</a>
                <a href="#">Column 3 link 2</a>
                <a href="#">Column 3 link 3</a>
              </li>
              <li>
                <a href="#">Column 4 link 1</a>
                <a href="#">Column 4 link 2</a>
                <a href="#">Column 4 link 3</a>
              </li>
              <li>
                <a href="#">Column 5 link 1</a>
                <a href="#">Column 5 link 2</a>
                <a href="#">Column 5 link 3</a>
              </li>
            </ul>
          </li> {% endcomment %}
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{% url 'contact' %}">Connect us</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
      <img id="backgroundImage" alt="" data-aos="fade-in">
      <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100">
            "<span id="quote1"></span>
            <br>
            <span id="quote2"></span>"
        </h2>
        <p data-aos="fade-up" data-aos-delay="200" style="margin-left:700px;">
          - <span id="quoteBy"></span>
      </p>
      <p data-aos="fade-up" data-aos-delay="200">
        <span>Learn</span>
        <span>with</span>
        <span style="color: #5733FF; font-weight: bold;">Skill</span>
        <span style="color: #5733FF; font-weight: bold;">Board</span>
    </p>
      </div>
    </section><!-- /Hero Section -->

    

    <!-- Stats About Section -->
    {% comment %} <section id="stats-about" class="stats-about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
              <p class="">Students</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
              <p class="">Courses</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
              <p class="">Events</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
              <p class="">Trainers</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats About Section --> {% endcomment %}

    {% comment %} <!-- Why Us Section -->
    <section id="why-us" class="section why-us">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Our Institute ?</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Corporis voluptates officia eiusmod</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Ullamco laboris ladore pan</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Labore consequatur incidid dolore</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section --> {% endcomment %}
    <!-- End Section Title -->

    <!-- Courses Section -->
    <section id="courses" class="courses section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Courses</h2>
        <p class="">Popular Courses</p>
      </div>
    
      <div class="container">
        <div class="row">
          {% for course in courses %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="{{ forloop.counter }}">
            <div class="course-item">
              {% if course.photo %}
                <img src="{{ course.photo.url }}" class="img-fluid" alt="...">
              {% endif %}
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">{{ course.duration }}</p>
                  <p class="price">₹{{ course.fee }}</p>
                </div>
                <h3><a href="{{ course.url }}">{{ course.name }}</a></h3>
                <p class="description">{{ course.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section><!-- /Courses Section -->

     <!-- Testimonials Section -->
     <section id="testimonials" class="testimonials section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
          <p class="">What are they saying</p>
      </div><!-- End Section Title -->
      <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper">
    
              <div class="swiper-wrapper">
                  {% for testimonial in testimonials %}
                  <div class="swiper-slide">
                      <div class="testimonial-wrap">
                          <div class="testimonial-item">
                              <img src="{{ testimonial.photo.url }}" class="testimonial-img" alt="">
                              <h3>{{ testimonial.name }}</h3>
                              <h4>{{ testimonial.designation }}</h4>
                              <p>{{ testimonial.message }}</p>
                          </div>
                      </div>
                  </div><!-- End testimonial item -->
                  {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
          </div>
      </div>
  </section>
  <!-- Testimonials Section -->


    <!-- Trainers Index Section -->
    <section id="trainers-index" class="section trainers-index">
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Team</h2>
        <p class="">Our Team</p>
      </div>
      <div class="container">
        <div class="row">
          {% for staff in staffs %}
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
            <div class="member">
              {% if staff.profile_pic %}
              <img src="{{staff.profile_pic.url}}" class="img-fluid" alt="">
              {% endif %}
              <div class="member-content">
                <h4>{{ staff.name }}</h4>
                <span>{{ staff.department }}</span>
                <p>{{ staff.user.email }}<br>phone: {{ staff.phone }}</p>
              </div>
            </div>
          </div><!-- End Team Member -->
          {% endfor %}
        </div>
      </div>
    </section><!-- /Trainers Index Section -->

  </main>

  <footer id="footer" class="footer position-relative">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="">Skill Board</span>
          </a>
          <div class="footer-contact pt-3">
            <p>2nd Floor City Tower</p>
            <p>Perinthalmanna Road</p>
            <p>PANDIKKAD</p>
            <p class="mt-3"><strong>Phone:</strong> <span>9846428151, 9562798151</span></p>
            <p><strong>Email:</strong> <span>skillboardpandikkad@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="https://www.instagram.com/skill_board_pandikkad/?hl=en"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1">SiteName</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js' %}/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <!-- Include Swiper library JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="https://kit.fontawesome.com/e81d17d39f.js" crossorigin="anonymous"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script>
    // Define quotes array with objects containing quote and author
    const quotes = [
      {% for ho in home %}
        { quote: "{{ho.qoute1}}\n{{ho.qoute2}}", author: "{{ho.by}}" },
      {% endfor %}
    ];

    const images = [
      {% for bg in bgs %}
      "{{ bg.bgimage.url }}",
      {% endfor %}
    ];

    let currentIndex = 0;
    const backgroundImage = document.getElementById('backgroundImage');
    const quote1Element = document.getElementById('quote1');
    const quote2Element = document.getElementById('quote2');
    const quoteByElement = document.getElementById('quoteBy');

    function changeBackgroundImage() {
        backgroundImage.style.opacity = 0;
        setTimeout(() => {
            currentIndex = (currentIndex + 1) % images.length;
            backgroundImage.src = images[currentIndex];
            backgroundImage.style.opacity = 1;
            // Update quotes based on current index
            const currentQuote = quotes[currentIndex];
            quote1Element.textContent = currentQuote.quote.split('\n')[0];
            quote2Element.textContent = currentQuote.quote.split('\n')[1];
            quoteByElement.textContent = currentQuote.author;
        }, 1000);
    }

    // Change background image immediately upon page load
    changeBackgroundImage();

    // Change background image every 3 seconds
    setInterval(changeBackgroundImage, 3000);
</script>

<script>
        var swiper = new Swiper('.swiper', {
            loop: true,
            speed: 600,
            autoplay: {
                delay: 5000,
            },
            slidesPerView: 'auto',
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true,
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                    spaceBetween: 40
                },
                1200: {
                    slidesPerView: 2,
                    spaceBetween: 20
                }
            }
        });
</script>


</body>


</body>

</html>